.contactUsFormContainer {
    width: 22rem;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(247, 247, 255);

    border-width: 2px;
    border-color: #84b5e2;
}

.contactUsField {
    min-height: 1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

textarea.contactUsField {
    min-height: 150px;
    background-color: white;
}

.contactHeader {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #333355cc;
}

.contactUsButton {
    width: 80%;
    padding: 0.2rem 0;
    background-color: #65a5e0;
    border-radius: 5px;
    color: white;
    border-color: aliceblue;
}