.loginPage {
    height: 60vh;     
    
    background-color: rgb(53, 43, 140);

    background: radial-gradient(circle, 
    #281794 0%, 
    #4533be 10%, 
    #6689da 40%,
    #98cafc 72%,
    transparent 100%);
    display:flex; 
    justify-content: center;
    margin-top: -10px; 
    background-size: 200% 200%;
    background-position: center;
    animation: gradientPulse 5s ease-in-out infinite;
}

@keyframes gradientPulse {
    0%, 100% {
        background-size: 150% 150%;
    }
    50% {
        background-size: 200% 200%;
    }
}

.loginForm {
    min-width: 20rem; 
    border-width: 3px;
    border-color: rgb(139, 163, 251);
}

.formHeader {
    font-size:2rem; 
    font-weight: 550;
    text-transform: uppercase;
    color:rgb(37, 48, 167)
}

.formButton:hover {
    background-color: rgb(76, 90, 243);
}

.altLink {
    text-align: right;
    padding-right: 1rem; 
    color:rgb(76, 90, 243); 
}