.legalInfo {
    display: flex; 
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background: linear-gradient(
    #6351da 20%,
    #7598ea 100%);
    color: white; 
    font-size: 0.75rem; 
    padding: 1rem; 
}

.sponsors {
    display: flex; 
    justify-content: center; 
    gap: 1.25rem;  
    padding: 1rem;
    background-color: white; 
 
}

.sponsor {
    max-width: 100%;
    height: 2.5rem;   
    
}

.footer { 
    text-align: center;
    color: #4237b9; 
    
}

.sponsorHeader {
    font-size: max(2vw, 1.25rem);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 0.5rem; 
    background-color: white;
}

.copy {
    background-color: white;
    padding-bottom: 10px;
}

.dummy {
    margin-bottom: 0.5rem; 
    height: 1rem; 
    width: 100%; 
}

.dummy, .legalInfo { 
    background: linear-gradient(
        45deg,
        #4469d0,
        #a2b8e3,
        #4844c7
    );
    background-size: 400% 400%;
    animation: waterFlow 15s ease infinite;
}

@keyframes waterFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  

