p {
    color: white; 
}

.aboutPage {
    padding: 2rem; 
    /* max-width: max(500px, 70vw);  */
    /* display:inline-flex; 
    justify-content: center; 
    align-items: center;  
    width: max(500px, 70vw);  */
    margin:0 10vh; 
}

.heroSection {

    height: 50vh; 
    display: flex; 
    padding-bottom: 2rem; 
    gap:2rem; 

    background-image: radial-gradient(
        farthest-corner at 50px 300px,
        #462792 0%,
        #6a8de0 40%, 
        #c7e0f0 80%,
        white 100%);

    padding: 2rem; 
    border-radius: 2rem;
    
    align-items: center;
}

.heroText {
    color: white; 
}

.nHeader {
    font-size: 4rem;
    font-weight: 600;
    
}

.nnHeader {
    font-size: 2.4rem; 
    font-weight: 600; 
    color: white; 
}

.heroImageContainer {
    padding-left: 2rem; 
    width: 110vh; 
}

.sponsorSection {
    padding-bottom: 2rem; 
}

.whoWeAreSection, .sponsorSection, .roadmapSection{
    padding: 2rem;
    background-color: #ccc8ec;
    /* background-image: radial-gradient(to right, rgb(114, 89, 203), #ccc8ec);
     */
     background-image: radial-gradient(
        farthest-corner at 40px 40px,
        #462792 0%,
        #6a8de0 40%, 
        #c7e0f0 80%,
        white 100%);
    margin-top: 1.3rem; 
    border-radius: 2rem;
    height: 90vh; 
}

.roadmapSection {
    padding-bottom: 2rem;
}


@media (max-width: 755px) {
    .aboutPage{
        padding: 1rem; 
        margin: 0; 
    }

    .nHeader{
        font-size: 2.5rem; 
    }

    .heroSection {
        padding: 1.7rem;
        flex-direction: column; 
    }

    .heroImageContainer {
        order: -1; 
        width: 100%; 
        height: 100px; 
    }

    .heroText {
        width: 100%; 
    }

}