p {
    color: white; 
}

.aboutPage {
    padding: 2rem; 
    /* max-width: max(500px, 70vw);  */
    /* display:inline-flex; 
    justify-content: center; 
    align-items: center;  
    width: max(500px, 70vw);  */
    margin:0 10vh; 
}

.uh {
    height: 3rem; 
}



.heroSection {

    height: 50vh; 
    display: flex; 
    padding-bottom: 2rem; 
    gap:2rem; 

    background-image: radial-gradient(
        farthest-corner at 50px 300px,
        #462792 0%,
        #7B55C2 30%, 
        #c7e0f0 80%,
        white 100%);

    padding: 2rem; 
    border-radius: 2rem;
    
    align-items: center;
}

.heroText {
    color: white; 
}

.nHeader {
    font-size: 4rem;
    font-weight: 600;
    color: white; 
}

.nnHeader {
    font-size: 2.4rem; 
    font-weight: 600; 
    color: white; 
}

.heroImageContainer {
    padding-left: 2rem; 
    width: 110vh; 
}

.sponsorSection {
    padding-bottom: 2rem; 
}

.heroSection, .whoWeAreSection, 
.sponsorSection, .roadmapSection, 
.volunteerSection {
    background: radial-gradient(
    farthest-corner at 0px 0px,
    #5645c5 0%, 
    #6657cd 10%, 
    #63AFF7 100%);
}
.whoWeAreSection, .sponsorSection, 
.roadmapSection, .volunteerSection {
    padding: 2rem;
    background-color: #ccc8ec;
    margin-top: 1.3rem; 
    border-radius: 2rem;
    min-height: 2rem; 
}

/* #F8FEFF 
#C7E0F0
#63AFF7
#5350AC
#462792
#15172E */



.roadmapSection {
    padding-bottom: 2rem;
}



.volunteerSection {
    padding-bottom: 2rem; 
}


.button-container {
    display: flex; 
    justify-content: right;
    padding-top: 1rem; 
}

.volButton {
    padding: 0.5rem 1.2rem; 
    border-color: white;
    border-width: 2px; 
    border-style: solid; 
    background-color: #6265e4f4;
}

.volButton:hover {
    background-color: #3a1bb5c7;
}



































@media (max-width: 755px) {
    .aboutPage{
        padding: 1rem; 
        margin: 0; 
    }

    .nHeader{
        font-size: 2.5rem; 
    }

    .heroSection {
        padding: 1.7rem;
        flex-direction: column; 
    }

    .heroImageContainer {
        order: -1; 
        width: 100%; 
        height: 100px; 
    }

    .heroText {
        width: 100%; 
    }

}